= @email
| さん
br
| Sharinのパスワード再設定のご案内です。
br
| =============================================================================
br このメールは、登録メールアドレスあてに自動的にお送りしています。
br 配信専用アドレスとなりますので、お客様からの返信はお受けすることができかねます。
br
| =============================================================================
br

| Sharinの利用パスワードを再設定しますので、下記リンクより手続きを行ってください。
br
| 登録はパソコンで行っていただくことを推奨します。
br
br
= link_to 'パスワードの再設定を行う', controller: :users, action: "password_reset_check" , email: @email , key: User.encrypt(@email)
br
br
| =====================
br ご質問・お問い合わせ
br
| =====================
br
br
| 何かお困りの際は、「よくある質問と回答」がありますので、ご活用ください。
br
br
| Sharin －よくある質問と回答
br
| http://sharin.net/service/?p=80
br
br
| 「よくある質問と回答」でも解決しない場合はWebお問い合わせフォームをご利用いただきますようお願いいたします。
br
br
| お問い合わせフォーム
br
|  http://sharin.net/service/?page_id=20
br